body{
    padding: 0;
    margin: 0;
}
body *{
    margin: 0;
    padding: 0;
    font-size: 18px;
}
form{
    background-color: #DDDDDD;
    width: 50%;
    max-width: 500px;
    min-width: 200px;
    margin: auto;
    padding: 10px;
    position: relative;
    top: 40px;
    border-radius: 10px;
}
div{
    position: relative;
    width: 100%;
    overflow: auto;
    padding: 10px;
}
label{
    float: left;
    min-width: 180px;
}
input:not(#male):not(#female):not(#spandex){
    min-width: 150px;
    width: calc(100% - 200px);
}
#male, #female, #spandex{
    background-color: red;
    width: 20px;
}
#submitt{
    float: right;
    margin-right: 20px;
    width: 100px;
}
@media (max-width:768px){
    input:not(#male):not(#female):not(#spandex){
        float: left;
        width: 90%
    }
}
fieldset{
    border: none;
}