html, body {
  margin: 0;
  height: 100%;
}
h1{
  margin: 0;
}
.wrapper{
  position: relative;
  min-height: 98vh;
  padding-bottom: 2vh;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* Part 4 */
ul{
  list-style-type: square;
}

.css li:nth-child(2){
  color: rosybrown;
}
.css li:nth-child(2):hover{
  color: red;
}
#ember{
  color: red;
}
#jq{
  color: blue;
}