body{
    background-color: #f9f9fb;
    width: 100%;
    margin: 0;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
h1,h2{
    margin: 0;
    padding: 0;
}
#page-wrapper{
    position: relative;
    padding: 45px;
    min-height: 87vh;
}

/* Header styling */
header {
    background-color: #494d55;
    color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    margin: 0;
}
#header-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#header-wrapper a{
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    font-size: 60%;
}
#header-wrapper a:hover{
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;;
}
#header-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#header-wrapper p {
    position: absolute;
    bottom: 5px;
    margin: 0;
    padding: 0;
}

#documents{
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#main-header {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100px;
}
/* main and menu styling */
#content-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    padding-bottom: 50px;
    margin-right: -15px;
    margin-left: -15px;

}
#menu{
    position: sticky;
    top: 0;
    height:0;
    display: flex;
    flex: 0 0 16%;
    list-style: none;
}
#menu ul li{
    list-style-type: none;
    padding-top: 1rem;
}
#menu ul li a{
    color: #2f333b;
    text-decoration: none;
}
#menu ul li a:hover{
    color: #ababab;
}

/* Content styling */
#page-content{
    flex: 0 0 70%;
    line-height: 2rem;
}
#page-content h2{
    border-bottom: 1px solid #d7d6d6;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

footer{
    position: absolute;
    bottom: 0;
    left: 45px;
    right: 45px;
    margin-left: auto;
    margin-right: auto;
    background-color: #494d55;
    color: rgba(255, 255, 255, 0.85);
    padding: 20px;

}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#five{
    position: relative;
}
#five section{
    position: relative;
    overflow: auto;
    }

/* Modal */
figcaption{
    font-size: 0.7rem;
    line-height: 1rem;
    padding: 0;
    margin: 0;
}
.modal {
    z-index:1;
    display:none;
    padding-top:10px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.5);

}
.modal-content{
    margin: auto;
    padding: 20px;
    width: 45%;
    animation-name: imgopen;
    animation-duration: .6s;

}
@keyframes imgopen{
    from{opacity: 0}
    to{opacity: 1}
} /* Animation */
#subimg{
    max-width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: #ababab;
}
.content_images {
    opacity:1;
    max-width:100%;
    cursor:pointer
}
.content_images:hover {
    opacity:0.60;
}
.close {
    text-decoration:none;float:right;font-size:24px;font-weight:bold;color:white
} /* Close button*/

.figures {
    width:200px;
    display:block;
    padding-left: 1rem;
    float: right;

}

/* Table */
table{
    border-collapse:collapse;
    border-spacing:0;
}
td {
    font-size: 1rem;
    padding-right: 2rem;
    border-top: solid;
    border-width: 1px;

}

@media (max-width: 1023px){
    #menu{display: none;}
}

@media (max-width: 768px){
    .figures {
        margin: auto;
        float: none;
    }
    #header-wrapper ul {
        display: none;
    }
    #header-wrapper p{
        bottom: -15px;
        margin: 0;
        padding: 0;
    }
}
